# build.config - 3

mcu=atmega328p
#mcu=attiny85
#mcu=atmega8
#mcu=stm32f103c8_md

upload_baud=115200

serial_baud=115200

# For AVRs with slow (e.g. < 4Mhz) clocks, set this to 10.
bitclock=1

disableAutoErase=1 # Arduino Mega requires this to be 1.

programmer=arduino
#programmer=stk500v2
#programmer=usbasp # set upload_port=usb

upload_port=/dev/ttyUSB0
#upload_port=/dev/ttyACM0
#upload_port=usb

serial_port=/dev/ttyUSB0
#serial_port=/dev/ttyACM1
