# nblib.config - 4

# avrtools=/path/to/avrtools-0.1

mcu=atmega328p # atmega328pb attiny85 attiny402 atmega8 stm32f103c8

programmer=arduino # stk500v2 usbasp updi

upload_port=auto
upload_baud=115200

serial_port=auto
serial_baud=115200

# bitclock=10 # Uncomment this for AVRs with slow (e.g. < 4Mhz) clocks.

# disableAutoErase=1 # Uncomment this for Arduino Mega.
